body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
}
h1{
    display:block;
    font-size:2em;
    margin-top:0.67em;
    text-align:center;
}


h2{
    display:block;
    font-size:1.5em;
    margin-top:0.83em;
    text-align:center;
    }
   
    h3{
    display:block;
    font-size:1.17em;
    margin-top:1em;
    text-align:center;
    }
    p{
        font-family:Arial, Helvetica, sans-serif;
        font-size:15px;
        }
    
    
        .capstone{
            text-align:center;
            width:500px;
            letter-spacing:20px;
            }
        
    .outcomes{
    font-size:38px;
    letter-spacing:0px;
    }
   
    .learning{
        margin:0 0 70px 0;
        width:200px;
        display:inline-block;
        }
        .course{
            margin:0 0 70px 0;
            width:200px;
            display:inline-block;  
        }
   
    .objective{
        margin:0 0 70px 0;
            width:200px;
            display:inline-block;  
            }
    .main{
    font-size:40px;
    font-weight:100px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:80px;
    letter-spacing:10px;
   }
   div{
    width:55%;
    margin-left:100px;
    margin-top:300px;
   }
    img{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:80%;
    }
    a:visited{
    background-repeat:no-repeat;
    background-position:right-center;
    height:20px;
    padding-bottom:2px;
    }
    
    .footer{
        width:100%;
        background-color:black;
        height:50px;
        position:fixed;
        }
     button{
    background-color:blue;
    color:white;
    padding:10px 20px;
    border:1px solid white;
    transition:0.5s all;
   }
   button:hover{
    background-color:white;
    color:blue;
   }
   .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:black;
    padding:24px 32px;
   }
  


    
  
   
   


    
        
    

    
